
{% extends "Reg/baselayout.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h4>SIGN IN</h4>
<form method="post">
 {% csrf_token %}
 {{ form.as_p }}
 <button type="submit">SIGN IN</button>
</form>
    </div>
</div>

{% endblock %}